[Unit]
Description=Arma Reforger Dedicated Server
Wants=network-online.target
# Start only after ... is initialised
After=syslog.target network.target nss-lookup.target network-online.target

[Service]
WorkingDirectory=/home/armarserver/
ExecStartPre=/bin/bash/home/armarserver/update.sh
ExecStart=/bin/bash/home/armarserver/start.sh
LimitNOFILE=100000
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s INT $MAINPID
User=armarserver
Group=users
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
